<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <a 
  closeMenu
  [menu]="menu"
  class="navbar-brand" [routerLink]="['/']" >Odarkor</a>
  <button 
    class="navbar-toggler" 
    type="button" data-toggle="collapse" 
    data-target="#navbarsExampleDefault" 
    aria-controls="navbarsExampleDefault"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div #menu class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
        closeMenu
        [menu]="menu"
        class="nav-link" routerLink="/about" >About</a>
      </li>           
      <li class="nav-item">
        <a
        closeMenu
        [menu]="menu"
        class="nav-link" [routerLink]="['/article-form']"><span class="submit">Submit</span></a>
      </li>
               
    </ul>

    <ng-template #rt let-r="result" let-t="term">
      <a [ngStyle]="{'color':'black'}" [routerLink]="['profile',r.$key]">{{ r.hero.name}}</a>
    </ng-template>

    <form #f="ngForm" 
      novalidate (click)="submit(f)" 
      (keyup.enter)="submit(f)" 
      (ngSubmit)="submit(f)" 
      class="form-inline my-2 my-lg-0 mr-auto justify-content-center">
      <input
        name="hero"
        ngModel #hero="ngModel" 
        id="typeahead-basic" 
        type="search"
        placeholder="Search heroes..." 
        class="form-control mr-sm-2" 
        [resultTemplate]="rt" [inputFormatter]="formatter" [ngbTypeahead]="search"/>
    </form>

      <ul class="navbar-nav mr-auto">

        <ng-template #anonymousUser >
          <li
          closeMenu
          [menu]="menu"
          class="nav-link my-2 my-sm-0 mr-sm-2" [routerLink]="['/login']">Login</li>
        </ng-template>

        <li ngbDropdown *ngIf="user$ | async as user; else anonymousUser" class="nav-item dropdown">
          <a
          ngbDropdownToggle class="nav-link dropdown-toggle user" id="dropdown01" aria-haspopup="true"
            aria-expanded="false">{{user.displayName | customTitleCase}}</a>
            
            
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
            <a
            closeMenu
            [menu]="menu"
            class="dropdown-item"  [routerLink]="['/user-profile']" >My Profile</a>
            <a
            closeMenu
            [menu]="menu"
            class="dropdown-item" *ngIf="(appUser$|async)?.isModerator" [routerLink]="['/heroes/submissions']" >Submissions</a>
            <a
            closeMenu
            [menu]="menu"
            class="dropdown-item"  (click)="logout()" >Log Out</a>
          </div>
        </li>

        <li><i title="Support" class="fa far fa-heart fa-large"></i></li>
        <li><i title="Become a Moderator!" class="fa fas fa-edit fa-large"></i></li>

      </ul>

  </div>
</nav>