.nav-link {
    cursor: pointer;
}

.navbar-brand {
    font-family: 'Roboto Slab', serif;
    font-size: 32px;
}

.fa-heart, .fa-edit {
    visibility: hidden;
    pointer-events: none;
}

@media (max-width: 768px) and (max-width: 980px) {
    .navbar-brand {
        font-size: 22px;
    }
    .fa-heart, .fa-edit {
        visibility: visible;
    }
    .fa-heart {
        color: red;
    }
    .fa-edit {
        color: rgb(39, 99, 99);
    }
}

.dropdown-item {
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: bisque;
}

.submit {
    font-weight: bold;
}

.navbar-light .navbar-nav .user {
    font-weight: 500;
}

input::placeholder {
    font-style: italic;
    opacity: 0.30;
    text-align: center;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}