.nav-link {
    cursor: pointer;
}

.navbar-brand {
    font-family: 'Roboto Slab', serif;
    font-size: 32px;
}

@media (max-width: 768px) and (max-width: 980px) {
    .navbar-brand {
        font-size: 22px;
    }
}

.dropdown-item {
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: bisque;
}

.submit {
    font-weight: bold;
}

.navbar-light .navbar-nav .user {
    font-weight: 500;
}