<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <a 
  closeMenu
  [menu]="menu"
  class="navbar-brand" [routerLink]="['/']" >Odarkor</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div #menu class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a 
        closeMenu
        [menu]="menu"
        class="nav-link" [routerLink]="['/']" >Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a
        closeMenu
        [menu]="menu"
        class="nav-link" routerLink="/faq" >Faq</a>
      </li>           
      <li class="nav-item">
        <a
        closeMenu
        [menu]="menu"
        class="nav-link" [routerLink]="['/article-form']">Submit Article</a>
      </li>
      <ng-template #anonymousUser >
        <li
        closeMenu
        [menu]="menu"
        class="nav-link my-2 my-sm-0 mr-sm-2" [routerLink]="['/login']">Login</li>
      </ng-template>
      <li ngbDropdown *ngIf="user$ | async as user; else anonymousUser" class="nav-item dropdown">
        <a
        ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">{{user.displayName}}</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <a
          closeMenu
          [menu]="menu"
          class="dropdown-item"  (click)="logout()" >Log Out</a>
          <a
          closeMenu
          [menu]="menu"
          class="dropdown-item" *ngIf="(appUser$|async)?.isAdmin" [routerLink]="['/admin/heroes']" >Heroes</a>
        </div>
      </li>           
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>