
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title btn-outline-success">Success!</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Thank You. <br> Your article has been successfully submitted for review. Close to be redirected to the homepage</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" (click)="c()">Close</button>
  </div>
</ng-template>

<form [formGroup]="form" (ngSubmit)="submit(form.value,content)">
  <div class="container ">
    <div class="submitForm">
      <div class="col-md-8 center">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="name">Name</label>
              <input formControlName="name" id="name" class="form-control" type="text">
              <div *ngIf="name.touched && name.invalid">
                <div class="error-message">Name is required.</div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="country">Сountry</label>              
              <select formControlName="country" class="form-control">
                <option value=""></option>
                <option *ngFor="let country of countries" [value]="[country.code,country.name]" >{{country.name}}</option>
              </select>
              <div *ngIf="country.touched && country.invalid">
                <div class="error-message">Country is required.</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="birthDate">Date of birth</label>
              <i class="fa fa-question-circle-o" 
              aria-hidden="true" 
              placement="right" 
              ngbTooltip="If unknown, set to '01/01/1000'.  
              To show calender from current year, click 'x'"></i>
              <my-date-picker 
              [options]="birthDateOptions" 
              id="birthDate" name="birthDate" 
              formControlName="birthDate"></my-date-picker>
              <div *ngIf="birthDate.touched && birthDate.invalid">
                <div class="error-message">Birth date is required.</div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="deathDate">Died</label>
              <i class="fa fa-question-circle-o"
               aria-hidden="true" placement="right" 
               ngbTooltip="If unknown, set to '01/01/1000'"></i>
              <my-date-picker 
              id="deathDate" name="deathDate" 
              [options]="deathDateOptions" 
              formControlName="deathDate"></my-date-picker>
              <div *ngIf="deathDate.touched && deathDate.invalid">
                <div class="error-message">Death date is required.</div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="knownFor">Known For</label>
          <input formControlName="knownFor" id="knownFor" class="form-control" type="text">
          <div *ngIf="knownFor.touched && knownFor.invalid">
            <div class="error-message">Known attributes are required.</div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="achievementDetails">Achievement Details</label>
        <simple-tiny 
        [elementId]="'my-editor-id'" 
        (onEditorKeyup)="keyupHandlerFunction($event)" 
        formControlName="achievementDetails">
        </simple-tiny>
      </div>
      <div *ngIf="achievementDetails.invalid">
        <div class="error-message">Achievement details are required.</div>
      </div>

      
      <!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->

      <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>