.card-header {
    cursor: pointer;
}

i.fa {
    float: right;
}

.in-view {
    animation-name: fade-in;
    animation-duration: 1.2s;
    background-color: #f0ffff;
    animation-timing-function: ease-in-out;
}

h5 {
    font-family: 'Asap', serif;
    font-weight: 500;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        padding: 0.25rem;
    }
    100% {
        opacity: 1;
        padding: 1.25rem;
    }
}