.container {
  background: #efefef;
  padding-top: 20px;
  padding-bottom: 20px;
}

.buttons {
  text-align: center;
}

.btn-success {
  margin-left: 15px;
}

.btn {
  cursor: pointer;
  margin-bottom: 15px;
}

.details {
  padding-top: 20px;
}


/* .card{
    height: 400px;
    overflow:auto;
} */

