<div class="container">
  <div class="about">
    <h2 class="heading">About Odarkor</h2>
    <p>
      Odarkor is a website dedicated to showcase the achievements of African heroes. It relies on the contribution from it's members
      to bring to light the somewhat hidden achievements of African heroes.
    </p>
    <br>
    <h2 class="faq">FAQ</h2>
    <div class="zippys">
      <zippy title="What is the meaning of Odarkor?">
        <p>
          Odarkor is a name. It's the name of a
          <a href="https://www.facebook.com/christo.nyameba" target="_blank">lady</a>
          who during the development of this project was of great help. I'm certain that this project wouldn't be here at a time like
          this if it wasn't for her.
        </p>
      </zippy>
      <zippy title="How can I become a Moderator?">
        <p>
          Submit your email and reasons why you want to became a Moderator to
          <a href="mailto:odarkorproject@gmail.com?Subject=I%20want%20to%20become%20a%20Moderator" target="_top">odarkorproject@gmail.com</a>
        </p>
      </zippy>
      <zippy title="What kind of sources can I include?">
        <p>Sources and references for submitted articles can range from books, newspapers, etc. They should be truthful and
          verifiable.
        </p>
      </zippy>
    </div>
  </div>
</div>