.moderate a:link {
    text-decoration: none;
}

.moderate a:visited {
    text-decoration: none;
}

.moderate a:hover {
    text-decoration: none;
}

.moderate a:active {
    text-decoration: none;
}

.moderate-text {
    color: #2F4F4F;
}

.moderate {
    float: left;
    margin-left: 30px;
    color: #2F4F4F;
    font-size: 25px;
    cursor: pointer;
    opacity: 0.3;
}

.support {
    float: right;
    margin-right: 30px;
    color: red;
    font-size: 25px;
    cursor: pointer;
    opacity: 0.3;
    margin-left: 20px;
}

.support h6 {
    cursor: default;
}

.moderate:hover {
    color: rgb(39, 99, 99);
    transform: scale(1.07);
    transition-duration: 500ms;
    opacity: 1;
}

.support:hover {
    transform: scale(1.07);
    transition-duration: 500ms;
    opacity: 1;
}

.area {
    border-top: 1px solid #f2f2f2;
}

.made-with {
    color: red;
}

.dropup .dropdown-toggle:empty::after {
    visibility: hidden;
}

.dropdown-item {
    font-size: 14px;
}

.dropdown-item:hover {
    background-color: bisque;
}

@media only screen and (max-width:480px) {
    .area {
        visibility: hidden;
    }
}