/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
    padding-top: 80px;
}

.form-control.ng-touched.ng-invalid {
    border: 2px solid red;
}
.error-message {
    color: red;
}